  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title>P2P Food Lab - CitizenSeeds</title>

    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="description" content="">
    <meta name="author" content="Peter Hanappe">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">

    <link href='https://fonts.googleapis.com/css?family=Raleway:700,400' rel='stylesheet' type='text/css'>
    <link href="<%= config.baseUrl %>/css/bootstrap.css" rel="stylesheet">
    <link href="<%= config.baseUrl %>/css/citizenseeds/citizenseeds.css" rel="stylesheet">
    <link href="<%= config.baseUrl %>/css/citizenseeds/CitizenSeeds.css" rel="stylesheet">
    <link href="<%= config.baseUrl %>/js/jwysiwyg/jquery.wysiwyg.css" rel="stylesheet">                                      
 
    <link rel="shortcut icon" href="https://p2pfoodlab.net/media/favicon.ico">
    <link rel="apple-touch-icon" href="https://p2pfoodlab.net/media/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://p2pfoodlab.net/media/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://p2pfoodlab.net/media/apple-touch-icon-114x114.png">

  </head>
