body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
}

.white, .white a {
  color: #fff;
}

.navbar-citizenseeds {
  padding-bottom: 20px;
}

.experiment-title {
    font-size: 56px;
}

.page-header {
    border: 0px;
}

.top-margin { margin-top: 20px; }
.right-margin { margin-right: 20px; }

.profile {
    margin-top: 20px; 
    margin-bottom: 20px;
}

.image-lib-img {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid 1px #eee;
}

.message-reply {
    border-top: solid 1px grey;
}

.forum-container {
    margin-bottom: 20px;
}

.forum-header {
    padding: 4px;
    font-size: 24px;
    border-bottom: 1px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.forum-panel {
    margin-bottom: 5px;
    padding: 0;
}

.forum-thread {
    margin: 2px;
    padding: 0;
}

.forum-message {
}

.forum-reply {
    padding-top: 4px;    
    border-top: solid 1px #DDD;
    border-left: solid 1px #DDD;
    padding-left: 30px;
}

.forum-reply-input {
}

.forum-reply-textarea {
    width: 100%;
}

.message-body {
    white-space: pre-wrap;
}

.message-meta {
    color: #BBB;
}


.matrix-header {
    padding: 4px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.questionnaire-radish-harvest {
    border-top: solid 2px black;
    padding-top: 8px;
}

.matrix-collapsed {
    border: solid 1px black;
    height: 30px;
    padding: 4px;
}

nav.forum-pager {
    display: inline;
    padding-left: 20px;
}

.forum-page-selector {
    padding-right: 8px;
}

div.location-selector {
    background: white;
    background-color: white;
    padding: 20px;
    width: 300px;
    //border: solid 1px black;
    box-shadow: 3px 3px 3px #444444;
    margin: auto;
    margin-top: 20px;
}

a.observer-blog {
    font-size: 10px;
}

div.recent-photos {
    background-color: #eee;
}

div.recent-photo {
    margin: 2px;
    padding: 4px;
    display: inline-block;
    border: solid 1px #bbb;
    border-radius: 4px;
    background-color: white;
    box-shadow: 2px 2px 2px #bbb;
}

a.recent-photo {
    font-size: 10px;
}

img.recent-photo {
    color: white;
}

p.comment {
}

p.observation {
    color: #444;
    font-style: italic;
}

.flowerpower-test-failed {
    font-size: 32px;
    color: red;
}

.flowerpower-test-succes {
    font-size: 32px;
    color: green;
}

table.devices-table tr th, table.devices-table tr td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}

div.parcelle {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #777;
}

span.more-recent-photos {
    margin: 20px;
    margin-right: 0px;
    font-size: 50px;
}

span.less-recent-photos {
    margin: 20px;
    margin-left: 0px;
    font-size: 50px;
}


/*===============================================*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/*====================================================*/
/* Generated by http://work.smarchal.com/twbscolor/ */

.navbar .nav > li > a,
/*.navbar .nav > li > a:first-letter,*/
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
    font-weight: normal;
    font-size: 24px;
    padding: 20px 20px;
}

.navbar-nav li a {
 line-height: 32px;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #858585;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #858585;
}
.navbar-default .navbar-nav > li > a {
  color: #858585;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #858585;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #858585;
}
.navbar-default .navbar-link {
  color: #858585;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #858585;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #ffffff;
  }
}


/* About */

#aboutcitizenseeds-wrp {
  background: url("../media/citizenseeds_bgd.jpg") center center;
}

.intro { margin-top: 10px; margin-bottom: 30px; }

.intro h1 {
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: white;
  padding: 10px 0;
}

.intro p {
  font-size: 26px;
  line-height: 34px;
  color: white;
  padding: 10px 0;
}

#register-wrp{
  background: #f8f003;
  min-height: 100%;
  padding: 80px 0;
}

.register-text h2 {
    font-size: 32px;
}
.register-text p {
    font-size: 22px;
}

.about-row {
    margin-top: 40px;
}

.about-text {
    font-size: 22px;
}

.about-text h2 {
    font-size: 32px;
}

.about-img img {
    width:100%; 
    vertical-align: middle;
}


/************************************************/

div.ObservationPhotoEmpty {
    width: 80px;
    height: 80px;
}

div.ObservationPhoto {
    margin: 2px;
    padding: 4px;
    display: inline-block;
    border: solid 1px #bbb;
    border-radius: 4px;
    background-color: white;
    box-shadow: 2px 2px 2px #bbb;
}
