html, body {
      padding-bottom: 40px;
}

.clearfix:after { 
    content: "";
    display: block; 
    clear: both;
}

.FloatLeft { 
    float: left;
}

div.SmallLogo {
    height: 50px;
}

img.SmallLogo {
    width: 200px;
    border: 0;
}

div.ProjectTitle {
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

div.NotebookLocationView {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.NotebookLocationName { 
    width: 100%;
    font-size: 24px;
}

.button.NotebookObserverView,
button.NotebookObserverView {
  color: #FFF;
  background-color: Green;
  border-color: Green;
  text-align: left;
  text-transform: none;
  font-size: 15px;
}

.button.NotebookObserverView:hover,
button.NotebookObserverView:hover,
.button.NotebookObserverView:focus,
button.NotebookObserverView:focus {
  color: #FFF;
  background-color: DarkGreen;
  border-color: DarkGreen;
}

.button.NewLocation,
button.NewLocation {
  color: grey;
  background-color: white;
  border-color: grey;
  text-align: left;
  text-transform: none;
  font-size: 15px;
}

.button.NewLocation:hover,
button.NewLocation:hover,
.button.NewLocation:focus,
button.NewLocation:focus {
  color: white;
  background-color: black;
  border-color: black;
}


.button.NewObserver,
button.NewObserver {
  color: black;
  background-color: white;
  border-color: white;
  text-align: left;
  text-transform: none;
  font-size: 15px;
}

.button.NewObserver:hover,
button.NewObserver:hover,
.button.NewObserver:focus,
button.NewObserver:focus {
  color: white;
  background-color: black;
  border-color: black;
}


.button.PlantSelector,
button.PlantSelector {
  color: black;
  background-color: white;
  border-color: DarkGreen;
  text-align: left;
  text-transform: none;
  font-size: 15px;
  margin-left: 20px;
}

.button.PlantSelector:hover,
button.PlantSelector:hover,
.button.PlantSelector:focus,
button.PlantSelector:focus {
  color: black;
  background-color: DarkGreen;
  border-color: DarkGreen;
}

.button.CancelPlantSelector,
button.CancelPlantSelector {
  color: black;
  background-color: grey;
  border-color: grey;
  text-align: left;
  text-transform: none;
  font-size: 15px;
  margin-left: 20px;
}

.button.CancelPlantSelector:hover,
button.CancelPlantSelector:hover,
.button.CancelPlantSelector:focus,
button.CancelPlantSelector:focus {
  color: white;
  background-color: black;
  border-color: black;
}

div.UploadPanel {
    width: 300px;
    padding: 10px;
    border: solid 1px DarkGreen;
    margin-bottom: 30px;
    border-radius: 4px;
}

div.UploadPanel form {
    padding: 0px;
    margin: 0px;
}

input.Filechooser {
    padding: 0px;
    margin: 0px;
}

textarea.UploadComment {
    width: 240px;
    padding: 0px;
    margin: 0px;
}

.button.UploadButton,
button.UploadButton {
  color: black;
  background-color: white;
  border-color: black;
  text-align: left;
  text-transform: none;
  font-size: 15px;
}

.button.UploadButton:hover,
button.UploadButton:hover,
.button.UploadButton:focus,
button.UploadButton:focus {
  color: white;
  background-color: black;
  border-color: black;
}

div.UploadButtons {
    padding: 0px;
    font-size: 20px;
}

div.UploadButton {
    padding-left: 10px;
}

div.UploadPreview {
    width: 240px;
    min-height: 180px;
    border: solid 1px grey;
    margin-bottom: 10px;
}

img.UploadPreviewImage {
    max-width: 240px;
    border: 0;
}

img.Spinner {
    border: 0px;
    width: 64px;
    height: 64px;
}

div.ProgressBar {
    position: relative;
    width: 80px;
    height: 12px;
    border: 1px solid #e8e8e8;
}

div.ProgressValue {
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 13px;
}

