
.noscroll {
    overflow: hidden;
}

a.Button {
    padding: 20px;
    margin-bottom: 10px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    display: inline-block;
}
a.Button:link { color: #ba3c21; text-decoration: none; font-weight: normal; }
a.Button:visited { color: #ba3c21; text-decoration: none; font-weight: normal; }
a.Button:active { color: #ba3c21; text-decoration: underline; font-weight: normal; }
a.Button:hover { color: #ba3c21; text-decoration: none; font-weight: normal; }

a.MobileButton, a.MobileButton:link,
a.MobileButton:visited, a.MobileButton:active,
a.MobileButton:hover {
    border: solid 1px #326296;
    color: white;
    background-color: #326296;
    font-weight: bold;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.clearfix:after { 
    content: "";
    display: block; 
    clear: both;
}

.FloatLeft { 
    float: left;
}

.FloatRight { 
    float: right;
}

div.Curtain {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.5);
}

div.AccountPanel {
    margin-top: 10px;    
    margin-bottom: 10px;    
}

div.UploadPanel {
    width: 300px;
    border: solid 1px black;
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
}

textarea.UploadComment {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}

div.UploadButtons {
    padding: 10px;
}

div.UploadButton {
    padding-left: 10px;
}

div.UploadPreview {
    width: 240px;
    min-height: 180px;
    border: solid 1px grey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

img.UploadPreviewImage {
    max-width: 240px;
    border: 0;
}

div.PageHeader {
    height: 100px;
}

div.SmallLogo {
    height: 100px;
    margin-right: 20px;
}

img.SmallLogo {
    width: 200px;
    border: 0;
}

div.ProjectTitle {
      font-size: 56px;
}

div.DateSelection {
    padding-top: 10px;
    padding-bottom: 20px;
}

a.DateSelector {
    padding-left: 7px;
    padding-right: 7px;
}

div.TableHolder {
    padding-top: 6px;
    border-top: 1px solid black;
}

div.Table {
  display: table;
}

div.Row {
    display: table-row;
}

div.Column {
    display: table-cell;
}

div.ObservationMatrixView {
    padding-bottom: 20px;
}

div.ObservationHeaderView {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 24px;
    border-bottom: 1px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
}

div.ObservationWeekView div {
    border-bottom: 1px solid black;
    padding-top: 4px;
}

div.WeekTitle {
    height: 25px;
}

div.WeekDate {
    height: 25px;
    min-width: 90px;
    border-left: 1px solid black;
    padding-left: 4px;
}

div.ObservationRowView {
    position: relative;
    height: 65px;
    vertical-align: top;
}

div.ObservationRowView div {
}

div.ObservationLocationView {
    height: 65px;
    width: 120px;
    vertical-align: top;
    border-bottom: 1px solid black;
}

div.ObservationView {
    height: 65px;
    width: min-90px;
    border-left: 1px solid black;
    vertical-align: top;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom: 1px solid black;
    background: white none 0 0 no-repeat;
}

img.ObservationView {
    border: 0px;
    max-width: 80px;
    max-height: 80px;
    display: inline-block;
}

img.Spinner {
    border: 0px;
    width: 64px;
    height: 64px;
}

div.PhotoViewer {
    width: 640px;
    margin: auto;
    margin-top: 40px;
}

img.PhotoViewer {
    display: block;
}

div.ProgressBar {
    position: relative;
    width: 80px;
    height: 3px;
    border: 1px solid #e8e8e8;
}

div.ProgressValue {
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 3px;
}

img.EmptyObservationView {
    border: 0px;
    width: 80px;
    height: 60px;
}

div.DataView {
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
    opacity: 0.2;
    display: block;
}

div.DataView:hover {
    opacity: 1.0;
    cursor: pointer;
    cursor: hand;
}

div.DataIcon {
    position: relative;
    width: 12px;
    height: 12px;
    border: 1px solid #e8e8e8;
    display: inline-block;
    margin-right: 8px;
}

div.TempValue {
    border: 1px solid #ff0000;
}

div.HumidityValue {
    border: 1px solid #00ffff;
}

div.SunValue {
    border: 1px solid #ffd000;
}

div.SoilValue {
    border: 1px solid #0000ff;
}

div.DataValue {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 0px;
}

div.TempValue div {
    background-color: #ff0000;
}

div.HumidityValue div {
    background-color: #00ffff;
}

div.SunValue div {
    background-color: #ffd000;
}

div.SoilValue div {
    background-color: #0000ff;
}

div.ObservationOps {
    font-size: 9px;
}

div.ObservationOps {
    background-color: white;
    color: grey;
    font-size: 9px;
}

div.ObservationOps:hover {
    background-color: white;
    color: black;
    font-size: 9px;
}

a.ObsOp:link { color: inherit; text-decoration: none; font-weight: bold; padding-right: 4px; }
a.ObsOp:visited { color: inherit; text-decoration: none; font-weight: bold; padding-right: 4px; }
a.ObsOp:active { color: inherit; text-decoration: underline; font-weight: bold; padding-right: 4px; }
a.ObsOp:hover { color: #326296; text-decoration: none; font-weight: bold; padding-right: 4px; }

div.ObservationCount {
    background-color: white;
    color: grey;
    display: inline-block;
}

div.Map {
    width: 400px;
    height: 300px;
    margin: 10px;
    border: solid 2px black;
    position: relative;
}

#popup {
    padding-bottom: 16px;
}

/*
 * Static pages
 */

@media (min-width: 700px) and (orientation: landscape) {
}

@media (max-width: 700px) and (orientation: landscape) {
}

div.About {
    width: 100%;
    background-image: url("media/terrace.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div.CitizenSeeds {
    width: 100%;
    background-image: url("media/seeds.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

div.StarterKit {
    height: 1080px;
    background-image: url("media/lasemeuse.jpg");
    background-color: #cccccc;    
}

div.BigText {
    width: 100%;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}

img.BigLogo {
    width: 1000px;
}

.White {
    color: white;
}

a.BigLink:link { text-decoration: none; font-weight: bold; }
a.BigLink:visited { text-decoration: none; font-weight: bold; }
a.BigLink:active { text-decoration: none; font-weight: bold; }
a.BigLink:hover { text-decoration: underline; font-weight: bold; }

a.White {
    color: white;
}

a.Blueish {
    color: #09ffff;
}

a.Redish {
    color: #ff2232;
}




div.Slideshow {
    position: static;
    margin: 4px auto;
    display: table;
    background-color: white;
    border: solid 1px black;
}

div.PictureBox {
      margin: auto auto;
}

img.SlideshowClose {
    width: 32px;
    height: 32px;
}

div.CaptionBox {
      margin: 0 auto;
      text-align: center;
      height: 24px;
      line-height: 22px;
      padding: 2px;
      padding-top: 2px;
      padding-left: 10px;
      padding-right: 10px;
      color: black;
}

div.ControlBox {
      margin: 0 auto;
      text-align: center;
      height: 32px;
}



div.SensorDataViewer {
    position: static;
    margin: 4px auto;
    display: table;
    background-color: white;
    border: solid 1px black;
}

div.SensorDataGraph {
    width: 450px;
    height: 120px;
    border: solid 1px grey;
    display: block;
    margin: 10px;
    margin-bottom: 4px;
}

div.SensorDataInfo {
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 4px;
}

div.SensorDataEmpty {
    margin: 20px;
    font-size: 150%;
}

a.Arrow:link {  
    font-size: 20px;
    text-align: center;
    color: #000000; 
    text-decoration: none; 
    font-weight: bold;
    margin-left: 7px;
    margin-right: 7px;
}

a.Arrow:visited { color: #000000; text-decoration: none; font-weight: bold; }
a.Arrow:active { color: #000000; text-decoration: none; font-weight: bold; }
a.Arrow:hover { color: #afafaf; text-decoration: none; font-weight: bold; }

a.Number:link { 
    font-size: 14px;
    color: #000000; 
    text-decoration: none; 
    font-weight: normal; 
    border-bottom: 1px solid white; 
    margin-left: 7px;
    margin-right: 7px;
}

a.Number:visited { 
    color: #000000; 
    text-decoration: none; 
    font-weight: normal; 
    border-bottom: 1px solid white; 
}

a.Number:active { 
    color: #000000; 
    text-decoration: none; 
    font-weight: normal; 
    border-bottom: 1px solid white; 
}

a.Number:hover { 
    color: #afafaf; 
    text-decoration: none; 
    font-weight: normal; 
    border-bottom: 1px solid white; 
}

a.SelectedNumber:link { 
    font-size: 14px;
    color: #ba3c21; 
    text-decoration: none; 
    font-weight: normal; 
    border-bottom: 0px solid black; 
    margin-left: 7px;
    margin-right: 7px;
}

a.SelectedNumber:visited { 
    color: #ba3c21; 
    text-decoration: none; 
    font-weight: normal; 
}

a.SelectedNumber:active { 
    color: #ba3c21; 
    text-decoration: none; 
    font-weight: normal; 
}

a.SelectedNumber:hover { 
    color: #ba3c21; 
    text-decoration: none; 
    font-weight: normal; 
}

div.DateBox {
      margin: 0 auto;
      text-align: center;
      height: 24px;
      font-size: 14px;
      line-height: 22px;
      padding: 4px;
      padding-top: 8px;
      padding-left: 20px;
      padding-right: 20px;
      color: black;
}

pre.PerformanceProfile {
    background-color: white;
    color: black;
    display: none;
}
